@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111111;
  --soft-grey: #f5f5f7;
}

html {
  background-color: var(--background);
  color: var(--foreground);
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Custom Scrollbar for a clean look */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: #e2e2e2; border-radius: 10px; }

/* Add this to globals.css */
.drawer-overlay-open { opacity: 1; pointer-events: auto; }
.drawer-overlay-closed { opacity: 0; pointer-events: none; }

.drawer-content-open { transform: translateX(0); }
.drawer-content-closed { transform: translateX(100%); }

@theme {
  /* Define the keyframes */
  @keyframes loading-bar {
    0% { transform: translateX(-100%); }
    100% { transform: translateX(100%); }
  }

  /* Define the animation utility */
  --animate-loading-bar: loading-bar 1.5s infinite ease-in-out;
}